* {
    color: #84A59D;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    background-color: #FFEDEB;
    overflow: hidden;
    padding: 30px;

    & nav ul {
        list-style: none;
        padding: 0;

        & li {
            display: inline;
            margin-right: 10px;
            /* Ajusta según sea necesario */
        }
        & li a{
            color: #F28482;
            cursor: pointer;
            text-decoration: none;
            font-size: 17px;
        }
        & .Res {
            float: right;
            font-size: 20px;
        }
        & li img{
            float: right;
        }
    }
}



/* Botones */
input {
    font-size: 20px;
    font-weight: bolder;
    width: 150px;
    height: 50px;
    background-color: #84A59D;
    border: none;
    color: #fff;
}
/* Termina botones */

/* PARA EL CARRUSEL  */
.slider-box{
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #4A752C;
    & p{
        font-size: 30px;
    }
}
.texto h2{
    font-size: 65px;
    margin-bottom: 35px;
}
.slider-box img{
    width: 100%;
    height: 700px;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -135%;}
    45% {margin-left: -135%;}

    65% {margin-left: -275%;}
    100% {margin-left: -275%;}

    
}

@media(max-width:991px){
    body{
        padding: 30px;
    }
    .slider-box{
        width: 100%;
    }
    .texto{
        position: absolute;
        text-align: center;
        & h2{
            font-size: 35px;
            margin-bottom: 25px;
        }
        & p{
            font-size: 30px;
        }
    }
}
/* TERMINA CARRUSEL  */

.soluciones {
    /* border: 2px solid black; */
    padding: 30px;
    background-color: #FFB6AE;
    font-size: 25px;

    & h2 {
        margin: 5px 0 5px 10px;
        font-size: 30px;

    }

    & h3 {
        margin: 5px 0 10px 10px;
        font-size: 35px;
    }
}

.h1Ser {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.servicios {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;

    & .Acne,
    .Skin,
    .Facial,
    .Botox {
        flex-grow: 1;
    }

    & .Acne {
        flex-basis: 100%;
        order: 1;
    }

    & .Skin {
        flex-basis: 100%;
        order: 2;
    }

    & .Facial {
        flex-basis: 100%;
        order: 3;
    }

    & .Botox {
        flex-basis: 100%;
        order: 4;
    }
}


h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 40px 0 0 0;
}

.PriceList {
    background-color: #FDE1DC;
    /* border: 2px solid black; */

    & #PL {
        /* border: 2px solid black; */
        background-color: #FFB6AE;
        overflow: hidden;

        & .PLImg {
            /* border: 2px solid black; */
            float: left;
        }

        & .PLCont {
            /* border: 2px solid black; */
            float: right;
        }
    }
}
.formContainer{
    background-color: #FFB6AE;
}
/* formF inicio */
/* Input container */
.input-container {
    position: relative;
    margin: 20px;
  }
  
  /* Input field */
  .input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }
  
/* formF final */

.Redes{
    all: unset;
}